
</div><!-- container -->

<div class="lg-partecipa clearfix hidden-print">
  <p>
    <i class="glyphicon glyphicon-edit"> </i>
    Vuoi contribuire ? Partecipa creando una issue
    sulla <a href="{{data.config.git.repository}}">repository GitHub</a><br>
  </p>
</div>
<footer id="footer" class="hidden-print">
  <div class="container">
    <div class="row">
      <div class="col-xs-2 col-sm-2 col-md-1">
        <img class="footer__logo" src="images/loghi/logo-it.svg"
             alt="Logo italia.it">
      </div>        
      <div class="col-xs-10 col-sm-10 col-md-5">        
        <p class="footer__title h3">{{ data.config.site.name }}
          <small>{{ data.config.site.version }}</small></p>
      </div>
      <div class="col-md-6 col-sm-12">
        <a href="http://www.agid.gov.it" target="_blank">
          <img class="footer__logo--agid" src="images/loghi/agid.svg"
               alt="Logo Agenzia per l'Italia digitale">
        </a>
      </div>
    </div>
    <div class="row">
      <ul class="col-xs-12 footer__links clearfix">
        <li><a href="{{ data.config.site.baseurl }}{{ data.config.site.htmlDir }}/privacy-policy/" title="privacy policy">Privacy</a></li>
        <li><a href="{{ data.config.site.baseurl }}{{ data.config.site.htmlDir }}/note-legali/" title="note legali">Note legali</a></li>
      </ul>
    </div>
  </div>
</footer>

<a href="#page_top" title="torna all'inizio del contenuto" class="scrollto_top sr-only"><span></span></a>

<p class="cookie-message sr-only" role="alert">
  Questo sito utilizza cookie tecnici, analytics e di terze parti. Proseguendo nella navigazione accetti l’utilizzo dei cookie.
</p>

<!-- build:js scripts/combined.js -->
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/jquery.cookie/jquery.cookie.js"></script>
<script src="../bower_components/navgoco/src/jquery.navgoco.min.js"></script>
<script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
<script src="../bower_components/prism/prism.js" data-default-language="markup"></script>
<script src="../bower_components/jquery.cookiebar/dist/jquery.cookiebar.min.js"></script>
<script src="scripts/scripts.min.js"></script>
<!-- endbuild -->

<script>
(function (b, o, i, l, e, r) {
  b.GoogleAnalyticsObject = l;
  b[l] || (b[l] =
    function () {
      (b[l].q = b[l].q || []).push(arguments)
    });
  b[l].l = +new Date;
  e = o.createElement(i);
  r = o.getElementsByTagName(i)[0];
  e.src = '//www.google-analytics.com/analytics.js';
  r.parentNode.insertBefore(e, r)
}(window, document, 'script', 'ga'));
if (jQuery.cookie('cb-enabled')) {
  ga('create', '{{ data.config.site.gaUser }}', {'cookieDomain': 'auto'});
  ga('set', 'anonymizeIp', true);
  ga('send', 'pageview');
}
</script>
</body>
</html>
