<!doctype html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7" lang="it"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8" lang="it"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9" lang="it"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="it"> <!--<![endif]-->
  <head>
    <base href="{{ data.config.site.baseurl }}">
    <!--[if IE]><script type="text/javascript">
        // Fix for IE ignoring relative base tags.
        // See http://stackoverflow.com/questions/3926197/html-base-tag-and-local-folder-path-with-internet-explorer
        (function() {
            var baseTag = document.getElementsByTagName('base')[0];
            baseTag.href = baseTag.href;
        })();
    </script><![endif]-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ data.title }}{{ " | " + data.config.site.name }}</title>
    <meta name="description" content="{{ data.config.site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <!-- build:css styles/combined.css -->
    <link rel="stylesheet" href="../bower_components/prism/themes/prism.css" />
    <link rel="stylesheet" href="../bower_components/jquery.cookiebar/dist/jquery.cookiebar.min.css" />
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/combined.i8.js -->
    <!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.min.js"></script>
      <script src="../bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
    <!-- endbuild -->

  </head>
  <body>

    <!--[if lt IE 8]>
        <p class="browserupgrade">Versioni di Explorer inferiori alla 8 non sono supportate.
        Puoi effettuare un <a href="http://browsehappy.com/"> aggiornamento del browser </a> per visualizzare correttamente il sito.</p>
    <![endif]-->

    <div class="skiplink sr-only">
      <ul>
        <li><a href="#main" tabindex="800">Vai al Contenuto</a></li>
        <li><a href="#menu" tabindex="800">Vai alla navigazione del sito (sommario delle linee guida)</a></li>
        <li><a href="#footer" tabindex="800">Vai al Footer</a></li>
      </ul>
    </div>

    <div class="nav-banner">
      <div class="container">
        <div class="row">
          <div class="col-md-1 col-md-offset-3">
            <img class="navbar_banner__logo" src="images/loghi/governo.svg" 
                 alt="Logo Governo Italiano">    
          </div>
          <div class="col-md-6">
            <p class="h4">Governo Italiano</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container" id="page_top">

