<nav class="hidden-print" id="menu" tabindex="0"
     data-spy="_affix" data-offset-top="0" data-offset-bottom="250">
  
  <h3 class="sr-only">Sommario delle linee Guida (navigazione del sito):</h3>
  
  <ul class="nav navgoco">
    <li>  <a class="btn btn-link" href="{{ data.config.site.baseurl }}{{ data.config.site.downloads['agid-bootstrap'] }}">
        <i class="glyphicon glyphicon-download-alt"></i> scarica i componenti</a> </li>
    <li><a href="{{ data.config.site.baseurl }}">Home</a></li>
    <li><a href="{{ data.config.site.baseurl }}{{ data.config.site.htmlDir }}/principi-generali">Principi generali</a></li>
    <li><a href="{{ data.config.site.baseurl }}{{ data.config.site.htmlDir }}/usabilita">Usabilità</a>
      <ul>
        <li><a href="{{ data.config.site.baseurl }}{{ data.config.site.htmlDir }}/usabilita/principi">Principi</a>
        <li><a href="{{ data.config.site.baseurl }}{{ data.config.site.htmlDir }}/usabilita/contenuti">Contenuti</a>
        <li><a href="{{ data.config.site.baseurl }}{{ data.config.site.htmlDir }}/usabilita/gruppo-di-lavoro">Misurazione</a>
      </ul>
    </li>
    <li>
      <a href="{{ data.config.site.baseurl }}{{ data.config.site.htmlDir }}/accessibilita">Accessibilità</a>
      <ul>
        <!--  <li><a href="{{ data.config.site.baseurl }}{{ data.config.site.htmlDir }}/accessibilita/multimedia">Multimedia</a> -->
        <li><a href="{{ data.config.site.baseurl }}{{ data.config.site.htmlDir }}/accessibilita/mobile-first">Mobile first</a>
        <li><a href="{{ data.config.site.baseurl }}{{ data.config.site.htmlDir }}/accessibilita/obiettivi">Obiettivi</a>
      </ul>
    </li>
    <li><a href="{{ data.config.site.baseurl }}{{ data.config.site.htmlDir }}/griglie">Griglie</a></li>
    <li><a href="{{ data.config.site.baseurl }}{{ data.config.site.htmlDir }}/tipografia">Tipografia</a></li>
    <li><a href="{{ data.config.site.baseurl }}{{ data.config.site.htmlDir }}/colori">Colori</a></li>
    <li><a href="{{ data.config.site.baseurl }}{{ data.config.site.htmlDir }}/bottoni">Bottoni</a>
    <li><a href="{{ data.config.site.baseurl }}{{ data.config.site.htmlDir }}/form">Form</a>
    <li><a href="{{ data.config.site.baseurl }}{{ data.config.site.htmlDir }}/iconografia">Iconografia</a></li>
    <li><a href="{{ data.config.site.baseurl }}{{ data.config.site.htmlDir }}/glossario">Glossario</a></li>
  </ul>
  
</nav>
