.btn {
  box-shadow: 0px 2px 4px 0px darken(#fff, 26%);
  font-variant: small-caps;
  text-transform: lowercase;
  font-weight: bold;
}

a.btn:visited {
  /*@FIXME*/
  color: #fff;
}

.btn-default, .btn-primary {
  &:active:active, &.active {
    color: color(colore-ottanio-chiaro);
    background-color: color(colore-ottanio-scuro);
    border-color: color(colore-ottanio-scuro);    
  }
}

.btn-link {
  color: color(colore-ottanio-scuro);
}

.btn-success {
  /* @see _variables.scss */
}

.btn-info {
  /* @see _variables.scss */
}

.btn-warning {
  /* @see _variables.scss */
}

.btn-danger {
  /* @see _variables.scss */
}
