.has-feedback .form-control,
.has-warning .form-control,
.has-success .form-control,
.has-error .form-control {
  border-width: 4px;
}

.form-control {
  padding: ceil($padding-base-vertical * 4) $padding-base-horizontal;
  
  .has-error & {
    border-color: $state-danger-border;
  }  
  .has-warning & {
    border-color: $state-warning-border;
  }
  .has-success & {
    border-color: $state-success-border;    
  }
}
select.form-control {
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: 5rem;
}

.input-group-btn .btn {
  padding: ceil($padding-base-vertical * 2 - 1)  $padding-base-horizontal;
  margin-top: -1px;
}

option {
  padding: 0.5rem;
  &:hover {
    background-color: color(colore-ottanio-chiaro);
  }
}
