@media print {
  body {
    padding-top: 1rem;
    margin-top: 0;
  }
  img {
    max-width: 500px;
  }
  p a:after {
    content: " (" attr(href) ")";
    font-size: 80%;
  }
  p a {
    word-wrap: break-word;
  }
}
