/*
 * Bottone scroll to top
 * --------------------------------------------------------------
 */
.scrollto_top {
  bottom: 20px;
  color: #fff;
  display: block;
  height: 45px;
  width: 45px;
  position: fixed;
  right: 20px;
  text-align: center;
  text-decoration: none;
  z-index: 9999;
  background: rgb(0, 38, 77);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50% 50% 50% 50%;
  box-shadow: 1px 1px 2px #aaa;

  span {
    color: #fff;
    text-align: center;
    border: 0px none rgb(255, 255, 255);
  }

  span:before {
    @extend .glyphicon;
    font-size: 130%;
    line-height: 150%;
    color: rgb(255, 255, 255);
    text-align: center;
    content: "\e260";
    border: none;
  }

}
