.skiplink li
{
  list-style-type: none;
}
.skiplink--focused {
  position: fixed;
  top: 0;
  z-index: 999999; 
  background: white;
  text-align:center;
  width: 100%;
}

.skiplink--focused a:focus{
     background: color(colore-blu-italia-50) !important;
    color: #fff !important;
}

