html {
  color: color(colore-testo-principale);
  font-family: $font-family-default;   
  /*  font-size: $font-size-base;*/
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

p, li {
  font-size: $font-size-base;
  line-height: 1.5;
/*  @media screen and (min-width: $screen-xs-min) {
    font-size: ceil($font-size-base * 1.1);
  }*/
}

small, .small, .small * {
  font-size: 1.5rem;
  color: color(colore-testo-secondario);
}

ol, li {
  padding-bottom: ceil($font-size-base * 0.2);
  padding-top: ceil($font-size-base * 0.2);
}

blockquote, blockquote p {
  font-size: 1.8rem;
  line-height: 1.5;
  font-style: italic;
}

/*
 *  Tipografia "responsive"
 *  ------------------------
 *  Riduce di una percentuale le dimensioni degli header 
 *  sugli schermi più piccoli
 */
$small-header-delta: 0.6;

h1, .h1 {
  line-height: $line-height-h1;
  font-weight: bold;
  @media screen and (max-width: $screen-sm) {
    font-size: ceil($font-size-h1 * $small-header-delta);
    line-height: ceil($line-height-h1 * $small-header-delta);    
  }
}
h2, .h2 {
  line-height: $line-height-h2;
  font-weight: bold;
  @media screen and (max-width: $screen-sm) {
    font-size: ceil($font-size-h2 * $small-header-delta);
    line-height: ceil($line-height-h2 * $small-header-delta);    
  }
}
h3, .h3 {
  line-height: $line-height-h3;
  font-weight: bold;
}
h4, .h4 {
  line-height: $line-height-h4;
  font-weight: bold;
}
h5, .h5 {
  line-height: $line-height-h5;
  font-variant: small-caps;
}
h6, .h6 {
  font-weight: bold;
  line-height: $line-height-h6;
}

/*  Font variants wappers
 *  ---------------------
 */
.font-extra-light {
  font-weight: 200;
}
.font-light {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-semi-bold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-ultra-bold {
  font-weight: 900;
}
.font-italic {
  font-style: italic;
}
